// Place all the styles related to the admin/maker_genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$text-deco: "a:link, a:visited, a:hover, a:active";

.admin-mgenre{
  width: 900px;
  margin: 30px auto;

  h2{
    text-align: center;
  }

  .genre_form{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 24px 260px;
    width: 900;

    input[type="text"]{
    width: 300px;
    height: 30px;
    border: 2px solid #ddd;
    border-radius: 6px;
    }

    input[type="submit"]{

    width: 50px;
    height: 35px;
    border: 2px solid #ddd;
    border-radius: 6px;
    }
  }

  .admin-mgenres{
    padding: 24px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;

    .admin-mgenre-box{
      width: 300px;
      margin-bottom: 10px;

      .admin-mgenre-name{
        width: 150px;
        float: left;
      }

      .admin-mgenre-edit{
        float: left;
        background-color: #ddd;
        width: 70px;
        height: 25px;
        border-radius: 6px;
        color: black;
        text-decoration: none;
        text-align: center;
        #{$text-deco} {color: black;}
        #{$text-deco} {text-decoration: none;}
      }
    }
  }
}

.mgenre-edit{
  max-width: 500px;
  margin: 30px auto 0;

  .mgenre-form-edit{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 24px 50px;
    width: 80%;

    input[type="text"]{
    width: 300px;
    height: 30px;
    border: 2px solid #ddd;
    border-radius: 6px;
    }

    input[type="submit"]{
    width: 50px;
    height: 35px;
    border: 2px solid #ddd;
    border-radius: 6px;
    }
  }

  .mgenre-delete{
    display: block;
    background-color: #ddd;
    width: 100px;
    height: 25px;
    border-radius: 6px;
    border: solid 1px black;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
    #{$text-deco} {text-decoration: none;}
    #{$text-deco} {color: red;}
    margin-top: 10px;
  }
}