<%= form_with(model:[@carpost, @comment]) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="text"><%= f.text_area :post_comment %></div>
  <div class="submit"><%= f.submit 'コメントする' %></div>
<% end %>