<%= render partial: 'layouts/sidebar' %>

<div class="index-pgenre">

  <h2>PartsGenre!</h2>

    <div class="index-parts-genres">

      <% @pgenres.each do |pgenre| %>
      
        <div class="index-pname">
          
          <%= link_to pgenre.pname, parts_genre_path(pgenre.id) %>
          
        </div>
        
      <% end %>
      

    </div>

</div>
