<%= render partial: 'layouts/sidebar' %>

<div class="index-mgenre">

  <h2>MakerGenre!</h2>
  
    <div class="index-maker-genres">
      
      <% @mgenres.each do |mgenre| %>
      
        <div class="index-mname">
          
          <%= link_to mgenre.mname, maker_genre_path(mgenre.id) %>
          
        </div>
        
      <% end %>
      
    </div>

</div>

