// Place all the styles related to the user/parts_genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$text-deco: "a:link, a:visited, a:hover, a:active";

.index-pgenre{
  flex: 1;
  max-width: 700px;
  margin: 0 auto;

  .index-parts-genres{
    width: 690px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    #{$text-deco} {color: black;}
    #{$text-deco} {text-decoration: none;}
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;

    .index-pname{
      width: 230px;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}

.show-pgenre{
  flex: 1;
  width: 700px;
  margin: 0 auto;

  h2{
    border-bottom: 2px solid #ddd;
  }

  p{
    border-top: 2px solid #ddd;
  }

  .show-parts-genres{
    border-bottom: 2px solid #ddd;
    width: 700px;
    padding: 30px auto;
    margin-top: 10px;

    .show-parts-genres-text{
      margin-top: 10px;
      width: 500px;
      padding-left: 100px;
      padding-right: auto;
      #{$text-deco} {color: black;}
      #{$text-deco} {text-decoration: none;}

      .show-pname{
        font-weight: bold;
        width: 500px;
        font-size: 1px;
      }

      span{
        font-weight: bold;
      }
    }

    .slider{
      display: none;
    }

    .slider.slick-initialized{
      display: block;
      width: 600px;
      padding-bottom: 10px;
      background-color: #ddd;
      border-radius: 6px;
      margin-bottom: 10px;
      #{$text-deco} {text-decoration: none;}

      button{
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        border-radius: 0;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }

      .slide-arrow{
        position: absolute;
        top: 50%;
        margin-top: -15px;
      }

      .prev-arrow{
        left: -40px;
        width: 0;
        height: 0;
        border-left: 0 solid transparent;
        border-right: 15px solid #113463;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
      }

      .next-arrow{
        right: -40px;
        width: 0;
        height: 0;
        border-right: 0 solid transparent;
        border-left: 15px solid #113463;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
      }


      .home-car-image{
        max-width: 400px;
        border-radius: 20px;
        text-align: center;
      }
    }
  }
}